:root {
    --back-color: #fff;
}

h1 small,
h2 small {
    font-size: .5em;
}

dl {
    margin: var(--universal-margin);
}

table {
    border-collapse: collapse;
}
table:not(.layout) th,
table:not(.layout) td {
    border: solid 1px #999;
    padding: 0.2em 0.5em;
}
th {
    background-color: #666;
    color: #fff;
}

pre > code {
    padding: 0;
    line-height: inherit;
    font-size: inherit;
}

.layout pre {
    margin: 0;
    border: none;
}

a[target=_blank]:not(.no-icon) {
    background: url(/s/img/external-link.min.svg) no-repeat center right/.8em;
    padding-right: 1em;
}

main .body {
    padding: var(--universal-margin);
}

.prev, .next {
    padding: 0 1em;
    background-repeat: no-repeat;
    background-size: 0.8em;
}
.prev {
    background-position: left center;
    text-align: left;
}
.next {
    background-position: right center;
    text-align: right;
}

.social-buttons {
    display: flex;
}
.social-buttons > iframe {
    margin-right: 4px;
}
.social-buttons .facebook-share-button {
    width: 112px;
    height: 20px;
    border: none;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
}
.profile .name {
    font-size: 1.2rem;
    text-align: center;
}
.profile .name img {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: solid 4px #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-width: 320px;
}
.profile .social {
    text-align: center;
}
.profile .social a:hover {
    text-decoration: none;
}
.profile .social svg {
    width: 32px;
    height: 32px;
}
.profile .social a:hover svg {
    transform: translate(0, -1px);
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}
.profile .social svg path {
    fill: var(--fore-color);
}

.popular-hatebu .hatena-bookmark-count a {
    margin-left: .3rem;
    color: red;
    background: #fcc;
    font-size: .8rem;
    text-decoration: none;
}

footer > div:first-child > div > h5 {
    margin-bottom: 0;
}
footer > div:first-child > div > h5 + * {
    margin-top: 0;
    max-height: 7rem;
    overflow: auto;
    list-style: none;
    padding-left: 0;
}
footer > div:first-child > div > h5 + *::before,
footer > div:first-child > div > h5 + *::after {
    display: block;
    content: "";
    position: sticky;
    bottom: -1px;
    width: 100%;
    height: 1px;
    box-shadow: 0 0 6px #000;
}
footer > div:first-child > div > h5 + *::before {
    top: -1px;
}
footer > div:first-child > div > h5 + *::after {
    bottom: -1px;
}
.copyright {
    text-align: center;
}
/* md */
@media screen and (min-width: 768px) {
    .profile {
        flex-direction: row;
    }
    .profile .name {
        min-width: 160px;
    }
    .profile .social {
        min-width: 120px;
        align-self: center;
    }
}

/* lg */
@media screen and (min-width: 1280px) {
    .profile {
        flex-direction: column;
    }
    .profile .name,
    .profile .social {
        min-width: auto;
    }
}

/* ported from old style */
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
