:root {
    --back-color: #fff;
}

.prev {
    text-align: left;
}
.prev::before {
    display: inline-block;
    content: "➤";
    transform: rotateZ(180deg);
}
.next {
    text-align: right;
}
.next::after {
    display: inline-block;
    content: "➤";
}
